body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
    font-family: Arial Black,Arial Bold,sans-serif;
    user-select: none;
}

#bg {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.scoreClass {
    border-style: solid none none none;
    margin: 0;
    padding: 10px;
    
}

#scoreTitle {
    font-size: 30px;
    margin: 0;
    text-align: center;
    color: white;
}

#playButton {
    color: white;
}

#chargeBar {
    height: 20px;
    padding: 0;
    margin: 0 0 0 -26px;

    width: 0;

    display: block;
}

#chargeContainer {
    position: absolute;
    left: 90%;
    bottom: 70px;
    padding: 0;
    margin: 0;
}

#reloadContainer {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 150px;
    padding: 10px 0px 10px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    user-select: none;

}

#menue {
    display: grid;
    grid-template-rows: auto auto auto;
    z-index: 10;
    padding-top: 350px;
}

#scoreboardContainer {
    position: absolute;
    display: block;
    right: 0;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    user-select: none;
}

#scoreboard {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
}

#nickname {
    display: block;
    margin: 5px auto 5px auto;
    max-width: 200px;
    padding: 20px 50px 20px 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(211, 211, 211);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    outline: none;    
}

.characterCard {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 5px;
}

.characterCard:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.character_logo {
    
    max-height: 200px;
}

#chooseCharacters {
    position: fixed;
    width: 80%;
    top: 15%;
    left: 10%;
    display: none;
    grid-template-columns: auto auto auto auto;
}

#done_button {
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%
}

#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

.menuButton {
    display: block;
    margin: 5px auto 5px auto;
    min-width: 300px;
    padding: 20px 50px 20px 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(211, 211, 211);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    user-select: none;

}

.menuButton:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.menuButton:focus {
    outline: none;
}


#healthDisplay {
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 20px;
    color: white;
    z-index: 10;
}

#healthBarAndNumberContainer {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 85px;
}


#healthBarContainer {
    position: absolute;
    left: 110px;
    bottom: 25px;
    width: 100px;
    height: 30px;
    border-style:solid;
    border-color: red;
    

}


#healthBar {
    width: 100%;
    height: 100%;
    background-color: red;    
}
